body{
    justify-content: center;
    align-items: center;
    text-align: center;
   border: 5px solid black;
}
.signing{
    display: flex;
    margin-left: 17rem;
}
form{
   text-align: center;
   justify-content: center;
   align-items: center; 
   
}
.signup{
    background-color: royalblue;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
.Condition{
    display: flex;
    margin-left: 32rem;
    gap: 0.5rem;
}
.condition{
    margin-left: -18rem;
}

.rule{
    margin-top: 1.3rem;
}
.Question{
    display: flex;
    margin-left: 38rem;
    gap: 0.5rem; 
}
.login{
    margin-top: 1.3rem; 
}
.container{
    display: flex;
}
.register{
    margin-left: -10rem;
}