
select{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    align-items: center;
    
}
option{
    background-color: red;
    color: white;
    
}
.search{
    width: 40rem;
    height: 2.5rem;
    border: 3px solid black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    
}
.content{
    display: flex;
   gap: 10rem; 
}
.main_content{
    margin-top: -4rem;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 5rem;
}
.search_box{
    background-color: red;
    width: 2.2rem;
    height: 2.2rem;
    align-items: center;
    justify-content: baseline;
    border: 5px solid black;
}
.comment{
    height: 2.5rem;
    background-color: red;
    margin-left: 2rem;
    color: white;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.name{
    display: flex;
}

.bell{
    display: none;
}
